numpy==1.26.4
torch==2.2.0
transformers==4.36.2
sentence-transformers==2.7.0

chromadb==0.5.0
rank-bm25==0.2.2
nltk==3.9.1

streamlit==1.31.0
pandas==2.1.4
pyarrow==15.0.2

python-dotenv==1.0.1
protobuf==4.25.3
requests==2.32.3
openai==1.55.3

typing-extensions==4.12.2
aiohttp==3.9.5
